<%= form_for(user) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :team, user.build_team do |team| %>
  <div class="field">
    Team <%= team.label :name %><br />
    <% if user_signed_in? && current_team %>
      <% team_value = current_team.name %>
    <% end %>
    <%= team.text_field :name, value: team_value %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>