<tr>
        <td><a class="choreid-{{id}}" href="/categories/{{category.id}}/chores/{{id}}"><div class="category-color-circle"></div></a></td>
        <td>{{title}}</td>
        <td>{{category.title}}</td>
        <td>{{user.name}}</td>

        {{#if durationEndDate}}
            <td>{{formatTime durationEndDate "dddd, DD MMMM YYYY"}}</td>
        {{else}}
            <td>Forever</td>
        {{/if}}
        
        {{#if frequencyAmount}}
            <td>Every {{pluralize frequencyAmount frequencyInterval}}</td>
        {{else}}
            <td>Once</td>
        {{/if}}

        <!-- actions -->
        <td>
            <a class="check-button" title="Mark as complete" rel="nofollow" data-method="post" href="/categories/{{category.id}}/chores/{{id}}/checked"><i class="fa fa-check-circle" aria-hidden="true"></i></a>
        </td>
        <td>
            <a class="btn-green" title="Edit chore" href="/categories/{{category.id}}/chores/{{id}}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        </td>
        <td>
            <a class="btn-red" title="Delete chore" rel="nofollow" data-method="delete" href="/categories/{{category.id}}/chores/{{id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </td>
    </tr>