<%= render 'layouts/sidebar' %>

<div class="col-med">
<h2><%= @category.title %></h2>
    <% if @chores.empty? %>
        <%= render 'shared/add_chore_button' %>
    <% else %>

        <%= render 'category_header' %>
        <%= render @chores %>
        </table>
    <% end %>
</div>