<%= form_for(@chore) do |f| %>

    <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </div>

    <div class="field indent">
        <label>Frequency</label><br>
        Every
        <%= f.number_field :frequency_amount %>
        <%= f.select :frequency_interval, [["days", 1], ["weeks", 2], ["months", 3], ["years", 4]] %>
        <%= @chore.frequency_interval %>
    </div>

    <div class="field">
        <%= f.label :duration_end_date, 'Until' %><br>
        <%= f.date_field :duration_end_date %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>

<% end %>