<%= form_for(chore) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

    <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </div>

    <div class="field">
        <label>Assign to</label><br>
        <%= f.collection_select :user_id, current_team.users, :id, :email, prompt: true, class: 'collection-drop-down' %>
    </div>

    <%= f.fields_for :category, chore.build_category do |category| %>
        <div class="field">
            <%= category.label :title, 'Category' %><br>
            <%= category.text_field :title %>
        </div>
    <% end %>

    <div class="field indent">
        <label>Frequency</label><br>
        Every
        <%= f.number_field :frequency_amount %>
        <%= f.select :frequency_interval, [["select", ""],"days", "weeks", "months", "years"] %>
    </div>

    <div class="field">
        <%= f.label :duration_end_date, 'Until' %><br>
        <%= f.date_field :duration_end_date %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>

<% end %>