<%= render 'shared/error_messages', object: f.object %>

    <div class="field">
        <%= f.label :title, "<i class='fa fa-book' aria-hidden='true'></i>".html_safe %>
        <%= f.text_field :title, placeholder: "Chore", class: "text-field" %>
    </div>

    <% if current_team %>
        <div class="field">
            <%= f.label :user_id, "<i class='fa fa-envelope' aria-hidden='true'></i>".html_safe %>
            <%= f.collection_select :user_id, current_team.users, :id, :name, prompt: true, selected: chore.user_id || current_user.id %>
        </div>
    <% end %>

    <%= f.fields_for :category, chore.build_category do |category| %>
        <div class="field">
            <%= category.label :title, "<i class='fa fa-tag' aria-hidden='true'></i>".html_safe %>
            <%= category.text_field :title, value: category_value, placeholder: "Category", class: "text-field" %>
        </div>
    <% end %>

    <div class="field indent">
        <%= f.label :frequency_amount, "<i class='fa fa-repeat' aria-hidden='true'></i>".html_safe %>
        <%= f.number_field :frequency_amount, placeholder: "Every 2", class: "text-field" %><br><br>
        <%= f.select :frequency_interval, [["select", ""],"days", "weeks", "months", "years"] %>
    </div>

    <div class="field">
        <%= f.label :duration_end_date, "<i class='fa fa-calendar' aria-hidden='true'></i>".html_safe %>
        <%= f.date_field :duration_end_date, class: "text-field" %>
    </div>

    <div class="actions">
        <%= f.submit class: "btn-primary" %>
    </div>

