<%= render 'layouts/sidebar' %>

<div class="col-med">
    <h2><%= current_user.name %>'s Chores</h2>
    <% if !@chores || @chores.empty? %>
        <%= render 'shared/add_chore_button' %>
    <% else %>

        <%= render 'categories/category_header' %>
        <tr>
            <%= form_for [@category, @chore] do |f| %>
                <td></td>

                <td><%= f.text_field :title, placeholder: "Chore", class: "text-field-table" %></td>

                <%= f.fields_for :category, @chore.build_category do |category| %>
                    <td><%= category.text_field :title, value: nil, placeholder: "Category", class: "text-field-table" %></td>
                <% end %>

                <% if current_team %>
                    <td><%= f.collection_select :user_id, current_team.users, :id, :name, {prompt: true, selected: @chore.user_id || current_user.id}, {class: 'form-select'} %></td>
                <% end %>

                <td><%= f.date_field :duration_end_date, class: "text-field-table" %></td>

                <td><%= f.number_field :frequency_amount, placeholder: "Every 2", class: "text-field-table" %></td>
                <td><%= f.select :frequency_interval, [["select", ""],"days", "weeks", "months", "years"], {}, {class: 'form-select'} %></td>

                <td><%= f.submit 'Add', class: "btn-green" %></td>
            <% end %>
        </tr>
        <%= render @chores %>
        <tr class="js-chore"></tr>
        </table>

    <% end %>
</div>

<script type="text/javascript">
    Handlebars.registerHelper('formatTime', function (date, format) {
        var mmnt = moment(date);
        return mmnt.format(format);
    });
</script>

<script id="chore-template" type="text/x-handlebars-template">
    <tr>
        <td><a href="/categories/{{category.id}}/chores/{{id}}"><div class="category-color-circle"></div></a></td>
        <td>{{title}}</td>
        <td>{{category.title}}</td>
        <td>{{user.name}}</td>

        {{#if durationEndDate}}
            <td>{{formatTime durationEndDate "dddd, DD MMMM YYYY"}}</td>
        {{else}}
            <td>Forever</td>
        {{/if}}
        
        {{#if frequencyAmount}}
            <td>Every {{frequencyAmount}} {{frequencyInterval}}</td>
        {{else}}
            <td>Once</td>
        {{/if}}

        <!-- actions -->
        <td>
            <a class="check-button" title="Mark as complete" rel="nofollow" data-method="post" href="/categories/{{category.id}}/chores/{{id}}/checked"><i class="fa fa-check-circle" aria-hidden="true"></i></a>
        </td>
        <td>
            <a class="btn-green" title="Edit chore" href="/categories/{{category.id}}/chores/{{id}}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        </td>
        <td>
            <a class="btn-red" title="Delete chore" rel="nofollow" data-method="delete" href="/categories/{{category.id}}/chores/{{id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </td>
    </tr>
</script>
