<% if user_signed_in? %>
    <div class="sidebar">
        <ul>
            <% if current_team %>
                <li class="blue-names">
                    <%= link_to current_owner.class.name + " " + current_team.name, team_path(current_team.id) %>
                </li>
            <% end %>
            <li class="blue-names">
                <%= link_to "Hello, "+ current_user.name, edit_profile_path(current_user.id) %>
            </li><br>
            <li><%= link_to new_category_chore_path(Category.find_or_create_by(title: "Uncategorized").id) do %>
                <%= fa_icon "plus", title: "Add chore" %>
            <% end %>
            </li>
            <li><%= link_to "My Chores", chores_path, class: 'js-my-chores' %></li>
            <li>Categories:</li>
                <ul class="js-categories">
                    <li><%= link_to "All", categories_path, class: 'js-all-categories' %></li>
                    <%= render partial: 'categories/category', collection: current_owner.categories.where('chores.active IS true').uniq %>
                </ul>
        </ul>
    </div>
<% end %>